{%extends 'mainapp/index.html'%}

{%load static%}


{%block title%}
StockPicker
{% endblock%}

{%block css%}
<style>


</style>
{% endblock%}

{%block body%}
<div class="container">
    <h1>live stock tracker </h1>
    <p>select your favourite stocks</p>

    <form action="/stocktracker">
        <label for ="stock_picker"> select Stocks </label>
        <select class="form-select form-select-lg mb-3" multiple aria-label="multiple select example" name="stock_picker">
        {% for i in stock_picker %}
        
        <option value="{{i}}">{{i}}</option>
        
        {%endfor%}
        </select>
        <br>
        <div class="d-grid gap-2">
            <input class="btn btn-primary" type="submit" value="submit">
           </div>
        </div>
    </form>    

</div>    
{% endblock%}

{%block js%}
<script>


</script>

{% endblock%}